
{% extends "layout.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">📚 All Courses</h2>

    <div class="row">

        {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card p-3 shadow h-100">

                <h5>{{ course[1] }}</h5>
                <p>{{ course[2] }}</p>

                <a href="/enroll/{{ course[0] }}" class="btn btn-primary mt-auto">
                    Enroll
                </a>

            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}